@charset "UTF-8";
body {
  font-family: Barlow-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
  color: #363636;
  background: #fffaee;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "Barlow-Medium", sans-serif;
  font-size: 1.5em;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  color: #ffc159ff;
}

strong {
  color: #000000;
}

h1, h2, h3, h4, h5, h6, b, strong, th {
  font-weight: 600;
}

blockquote {
  border-left: 4px solid #0096bfab;
  margin: 1.5em 0em;
  padding: 0.5em 1em;
  font-style: italic;
}

blockquote>footer {
  margin-top: 10px;
  font-style: normal;
}

blockquote cite {
  font-style: normal;
}

address {
  font-style: normal;
}

button, input[type='submit'], input[type='button'], input[type='checkbox'] {
  cursor: pointer;
}

input:not([type='checkbox']):not([type='radio']), select {
  display: block;
}

input, select, button, textarea {
  color: #000000;
  background-color: #efefef;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

input, button {
  font-family: Barlow-Medium;
  color: #ff6600;
}

input:not([type='checkbox']):not([type='radio']), select, button, textarea {
  -webkit-appearance: none;
}

textarea {
  font-family: Barlow-Regular;
  margin-right: 0;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

button, input[type='submit'], input[type='button'] {
  padding-right: 30px;
  padding-left: 30px;
}

button:hover, input[type='submit']:hover, input[type='button']:hover {
  background: #dddddd;
}

/* input:focus, select:focus, button:focus, textarea:focus {
  box-shadow: 0 0 0 2px #f1c23eab;
} */

input[type='checkbox']:active, input[type='radio']:active, input[type='submit']:active, input[type='button']:active, button:active {
  transform: translateY(2px);
}

input:disabled, select:disabled, button:disabled, textarea:disabled {
  cursor: not-allowed;
  opacity: .5;
}

::-webkit-input-placeholder {
  color: #949494;
}

:-ms-input-placeholder {
  color: #949494;
}

::-ms-input-placeholder {
  color: #949494;
}

::placeholder {
  color: #949494;
}

a {
  text-decoration: none;
  color: #0076d1;
}

a:hover {
  text-decoration: underline;
}

code {
  background: #ffe7c8;
  color: #000000;
  padding: 5px;
  border-radius: 9px;
}

kbd {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}

pre>code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

img {
  max-width: 100%;
  border-radius: 11px;
}

hr {
  border: none;
  border-top: 1px solid #dbdbdb;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

td, th {
  padding: 6px;
  text-align: left;
}

th {
  border-bottom: 1px solid #dbdbdb;
}

tbody tr:nth-child(even) {
  background-color: #efefef;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d5d5d5;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}

strong {
  font-family: "Barlow-Medium", sans-serif;
}

em {
  font-family: "Barlow-Italic", sans-serif;
}

@font-face {
  font-family: 'Barlow-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Barlow-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow-Medium';
  font-weight: 500;
  font-style: bold;
  src: url('fonts/Barlow-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow-Italic';
  font-weight: 300;
  font-style: italic;
  src: url('fonts/Barlow-Italic.woff2') format('woff2');
}